	.invit-form label {
		display: block;
		font-weight: 600;
	}
.warning-text{font-size: 13px;
		color: #1B3B5F;
		font-style: italic;
	
		margin-bottom: 5px;
	}
	.invit-form input {
		display: block;
		width: 100%;
		padding: 15px;
		margin-bottom: 25px;
		border: 1px solid #1B3B5F;
	}

	.invit-form select {
		display: block;
		width: 100%;
		padding: 15px;
		margin-bottom: 25px;
		border: 1px solid #1B3B5F;
	}

	.invit-form {
		width: 70%;
		padding: 15px;
		border: 1px solid #1B3B5F;
		margin: 25px auto;
		margin-bottom: 50px;
		box-shadow: 0px 0px 11px 0px #1B3B5F;


	}

	.submit-btn {
		padding: 15px 25px;
		border: 1px solid #1B3B5F;
		color: #1B3B5F;
		font-weight: 500;
		transition: 500ms all ease-in;
		text-decoration: none;

	}

	.submit-btn:hover {
		background: #1B3B5F;
		color: #fff;
		box-shadow: 0px 0px 11px 0px #1B3B5F;

	}
	.switch-dblue{
		color: #1B3B5F;
	}

	.submit-btn-dashbord {
		padding: 15px 25px;
		border: 1px solid #1ee778;
		color: #1ee778;
		font-weight: 500;
		transition: 500ms all ease-in;
		text-decoration: none;

	}

	.submit-btn-dashbord:hover {
		background: #1ee778;
		color: #fff;
		box-shadow: 0px 0px 11px 0px #1ee778;

	}

	.switch-red {
		color: #e13232;
	}

	.induction-video {
		margin: 50px 0px;
	}

	.video {
		margin-bottom: 25px
	}

	.question {
		box-shadow: 0px 0px 11px 0px #1B3B5F;
		border: 1px solid #1B3B5F;
		padding: 35px 25px;
		margin-bottom: 35px;
	}

	

	.question {
		display: none;
		animation: a-ltr-before 2s ease-in-out forwards;
	}

	#question1 {
		display: block;
	}

	.submit-btn-block {
		margin: 25px 0px;
		margin-top: 40px
	}


	.disabled {
		pointer-events: none;
		opacity: 0.5;
		cursor: not-allowed;
	}
.required-field{
		color: #f72525;
	}
	.error-message {
		font-style: italic;
		color: #f72525;
		font-size: 13px;
	}

	.finred {
		border-bottom: 1px solid #1B3B5F;
	}

	.Success-message {
		color: #1ee778
	}


	.fin-tbl tr {
		transition: 300ms solid ease-in-out
	}

	.fin-tbl tr:hover {
		background: #81eeb2;
	}

	.finthick-red {
		border-bottom: 2px solid #1B3B5F;
	}

	.finright {
		border-right: 1px solid #1B3B5F;
	}



		.dblock {
						display: block;
						margin-bottom: 15px;
					}

					.progress-container {
						width: 100px;
						height: 15px;
						background-color: #f3f3f3;
						border-bottom-left-radius: 30px;
						border-bottom-right-radius: 30px;
						border-top-left-radius: 30px;
						border-top-right-radius: 30px;
						border: 1px solid #1B3B5F;
					}

					.delete-btn {
						background-color: #ff4d4d;
						color: white;
						border: none;
						padding: 5px 10px;
						text-align: center;
						text-decoration: none;
						display: inline-block;
						font-size: 14px;
						border-radius: 5px;
						cursor: pointer;
					}

					.progress-bar {
						height: 100%;
						background-color: #1B3B5F;
						border-bottom-left-radius: 30px;
						border-bottom-right-radius: 30px;
						border-top-left-radius: 30px;
						border-top-right-radius: 30px;
					}

					.dashboard-headline {
						font-size: 22px;
						margin-bottom: 0px;
						font-weight: 600;
						color: #1B3B5F;
					}

					.video-block {
						height: 100%;
						padding: 0px 0px;
						padding-top: 0px;
					}

					.name-block {
						position: relative;
						padding-left: 70px;
					}

					.name-block h3 {
						font-size: 22px;
						margin-bottom: 5px;
						margin-top: 0px !important;
					}

					.user-email {
						font-size: 14px;
						color: #1B3B5F;
						margin-bottom: 0px;
						font-style: italic;
					}

					.dashboard-block {
						border-bottom: 1px solid #ccc;
						padding: 10px 0;
					}

					.min-100-relative {
						position: relative;
						min-height: 100%;
					}

					.initials-blcok {
						position: absolute;
						top: 33%;
						left: 23px;
						transform: translate(-50%, -50%);
					}

					.initials {
						display: inline-block;
						width: 50px;
						height: 50px;
						border-radius: 50%;
						background-color: #eee;
						color: #1B3B5F;
						border: 1px solid #1B3B5F;
						text-align: center;
						line-height: 50px;
						font-size: 20px;
					}

						.das-summery {
					background-color: #1B3B5F;
					color: #fff;
					padding: 20px;
					margin-bottom: 20px;
					min-height: 100%;
					border-radius: 5px;
					text-align: center;
				}

				.das-discription {
					font-weight: 400;
					font-size: 13px;
				}

				.dash-number {
					font-size: 30px;
					font-weight: 600;
					text-align: center;
				}

	/* 
	input:focus {
	    border-color: blue;
	} */

	/* button:focus-visible {
	    outline: 3px solid orange;
	} */