	.invit-form label {
		display: block;
		font-weight: 600;
	}
.warning-text{font-size: 13px;
		color: #1B3B5F;
		font-style: italic;
	
		margin-bottom: 5px;
	}
	.invit-form input {
		display: block;
		width: 100%;
		padding: 15px;
		margin-bottom: 25px;
		border: 1px solid #1B3B5F;
	}

	.invit-form select {
		display: block;
		width: 100%;
		padding: 15px;
		margin-bottom: 25px;
		border: 1px solid #1B3B5F;
	}

	.invit-form {
		width: 70%;
		padding: 15px;
		border: 1px solid #1B3B5F;
		margin: 25px auto;
		margin-bottom: 50px;
		box-shadow: 0px 0px 11px 0px #1B3B5F;


	}

	.submit-btn {
		padding: 15px 25px;
		border: 1px solid #1B3B5F;
		color: #1B3B5F;
		font-weight: 500;
		transition: 500ms all ease-in;
		text-decoration: none;

	}

	.submit-btn:hover {
		background: #1B3B5F;
		color: #fff;
		box-shadow: 0px 0px 11px 0px #1B3B5F;

	}
	.switch-dblue{
		color: #1B3B5F;
	}

	.submit-btn-dashbord {
		padding: 15px 25px;
		border: 1px solid #1ee778;
		color: #1ee778;
		font-weight: 500;
		transition: 500ms all ease-in;
		text-decoration: none;

	}

	.submit-btn-dashbord:hover {
		background: #1ee778;
		color: #fff;
		box-shadow: 0px 0px 11px 0px #1ee778;

	}

	.switch-red {
		color: #e13232;
	}

	.induction-video {
		margin: 50px 0px;
	}

	.video {
		margin-bottom: 25px
	}

	.question {
		box-shadow: 0px 0px 11px 0px #1B3B5F;
		border: 1px solid #1B3B5F;
		padding: 35px 25px;
		margin-bottom: 35px;
	}

	.quiz-block input {}

	.quiz-block label {}

	.question {
		display: none;
		animation: a-ltr-before 2s ease-in-out forwards;
	}

	#question1 {
		display: block;
	}

	.submit-btn-block {
		margin: 25px 0px;
		margin-top: 40px
	}


	.disabled {
		pointer-events: none;
		opacity: 0.5;
		cursor: not-allowed;
	}
.required-field{
		color: #f72525;
	}
	.error-message {
		font-style: italic;
		color: #f72525;
		font-size: 13px;
	}

	.finred {
		border-bottom: 1px solid #1B3B5F;
	}

	.Success-message {
		color: #1ee778
	}


	.fin-tbl tr {
		transition: 300ms solid ease-in-out
	}

	.fin-tbl tr:hover {
		background: #81eeb2;
	}

	.finthick-red {
		border-bottom: 2px solid #1B3B5F;
	}

	.finright {
		border-right: 1px solid #1B3B5F;
	}

	/* 
	input:focus {
	    border-color: blue;
	} */

	/* button:focus-visible {
	    outline: 3px solid orange;
	} */